@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: black;
  font-size: 14px;
  font-weight: normal;
  background: #fbfbfb;
}

/* deafault input number css */
/* Hide the arrow buttons */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the arrow buttons in Firefox */
input[type='number'] {
    -moz-appearance: textfield;
} 


/* website custom scrollbar */
::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-thumb{
  background: #BDC3C7;
  border-radius: 20px;
}
::-webkit-scrollbar-track{
  background: transparent;
}

/* sidebar custom scrollbar */
.sidebar-custom-scrollbar::-webkit-scrollbar{
  width: 0px;
}
.sidebar-custom-scrollbar::-webkit-scrollbar-track{
  background: transparent;
}
.sidebar-custom-scrollbar:hover::-webkit-scrollbar{
  width: 4px;
}
.sidebar-custom-scrollbar::-webkit-scrollbar-thumb{
  background: #BDC3C7;
  border-radius: 20px;
}




